@tailwind base;
@tailwind components;
@tailwind utilities;

strong {
  --tw-gradient-text: #ffe580, #ffc400;
  background-image: linear-gradient(to right, var(--tw-gradient-text));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media only screen and (min-width: 880px) {
  .feature-section .block-img {
    width: 150%;
  }
}

li {
  margin-left: 1.5rem;
}

li::before {
  /* content: "•"; */
  content: "";
  background: url(/li-icon.png);
  background-size: cover;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: -1.5rem;
  margin-right: 0.5rem;
}
